Body{
  background-color:Moccasin;
}

h1{
  color:plum;
  text-align: center;
  font-family: 'Playfair Display', serif;

}

h2{
  color:salmon;
  font-family: 'Playfair Display', serif

  }

p2{
  color:teal;
  text-align: center;
}


}
p3{
  color:red;
  font-family: 'Cormorant Garamond', serif;

}

p{
  color:palevioletred;
  font-family: 'Cormorant Garamond', serif;
}

  a{
    color:yellow
    font-family: 'Cormorant Garamond', serif;

  }
