body{
  background-color:linen;
}

h1{
  color:salmon;
  text-align: center;
  font-size: 38;
  font-family: 'notable';}

  h2{
    color:tomato;
    font-size: 30
  }


p{
  color: plum

}

table, th, td {border: 2px solid black:}
p.solid {border-style: solid;}
